# Cpplint config file

set noparent

# EXCLUDE:
# comments and spaces 2 whitespace gap
# header file naming with prefix include/
# TODO: markings need to have a name
# copyright notice
filter=-whitespace/comments, -build/include_subdir, -readability/todo, -legal/copyright

linelength=110